
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    box-sizing: border-box;
}
#Main_heading {
    text-align: center;   /* Centre le texte horizontalement */
    margin-top: 20px;      /* Vous pouvez ajuster la marge supérieure si nécessaire */
    margin-bottom: 10px;   /* Vous pouvez ajuster la marge inférieure si nécessaire */
    font-size: 2em;        /* Vous pouvez aussi ajuster la taille du texte */
    color: rgb(0, 112, 192); /* Couleur de votre titre, au choix */
}
b {
    color: rgb(0, 112, 192);
}

span, label {
    color: green;
}

label {
    margin-left: 0;
    padding: 0;
    text-align: left;
}

/* Formulaires de saisie */
input {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2mm;
}

input[type="text"], input[type="password"] {
    width: 85%;
    padding: 5px 5px;
    height: 2em;
    margin: 8px 0;
    border-color: grey;
    border: 2px solid;
}

input[type="button"] {
    background-color: lightblue;
    border: solid 1px;
    border-color: grey;
    color: black;
    font-weight: bold;
    height: 2em;
    margin: 4px 2px;
    width: 8em;
    cursor: pointer;
    border-radius: 1mm;
}
#Mess_connect, #Mess_t, #Mess_h, #Mess_pub {
    width: 100%;   /* Utilisation de toute la largeur disponible dans le fieldset */
    box-sizing: border-box;  /* Inclure les bordures et les paddings dans la largeur totale */
    margin: 5px 0;   /* Espacement entre les éléments de message */
    padding: 10px;   /* Espace intérieur */
    border: 2px solid grey;
    border-radius: 1.5mm;
    overflow-y: auto; /* Permet de faire défiler le texte si nécessaire */
}

/* Messages spécifiques */
#Mess_t {
    color: red;
}

#Mess_h {
    color: rgb(0, 112, 192);
}

legend{
    border:2px solid ;
   border-radius: 1.5mm;
    color:rgb(0, 112, 192) ;
    border-color:rgb(0, 112, 192) ;
}
/* Conteneur du fieldset */
fieldset {
    width: 100%;   /* Assurez-vous que le fieldset occupe toute la largeur disponible */
    box-sizing: border-box;
    padding-left: 5px;
    height: auto;  /* Hauteur auto pour s'adapter au contenu */
    margin-bottom: 20px;  /* Espacement inférieur pour éviter le chevauchement */
    border: 2px solid rgb(0, 112, 192);
    border-radius: 2mm;
}

/* Suppression du margin négatif qui peut forcer un débordement */
fieldset > .container {
    margin: 0;
    padding: 0;
}
